body {
  background: linear-gradient(rgba(30, 39, 46, 0.5), rgba(30, 39, 46, 0.5)), url("../../assets/images/hotel/background.png");
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .login-form {
    margin: 5rem 0;
    background-color: #ffffff;
    width: 29.5rem;
    height: 50rem;
    border-radius: 16px;
    overflow: hidden;

    .form-header {
      .header-background {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;

        img {
          flex-shrink: 0;
          min-width: 100%;
          min-height: 100%;
        }
      }

      .header-background:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
      .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
      }
    }

    .form-body {
      margin-top: 2.75rem;
      padding: 0 3rem;
    }
  }
}
