@import "../../../styles/utilities/variables";

.login-wrapper {
  background: linear-gradient(rgba(30, 39, 46, 0.5), rgba(30, 39, 46, 0.5)),
    url("../../../assets/images/hotel/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form {
      margin: 4rem 0;
      background-color: #ffffff;
      width: 27.5rem;
      height: fit-content;
      border-radius: 16px;
      overflow: hidden;

      .form-header {
        .header-background {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          position: relative;
          border-bottom-left-radius: 500px;
          border-bottom-right-radius: 500px;
          height: fit-content;
          animation: 0.75s ease-out 0s 1 slideUpFromDown;

          img {
            flex-shrink: 1;
            min-width: 100%;
          }
        }

        .header-background:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(30, 39, 46, 0.4);
          z-index: 999;
        }

        .header-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5rem;
        }
      }

      .form-body {
        padding: 2.75rem 2rem;

        .body-title {
          color: $netral-500;
          font-size: 1.5em;
        }

        .body-subtitle {
          margin-top: 1rem;
          color: $secondary-500;
          font-size: 1em;
          font-weight: lighter;
        }

        .body-form {
          margin-top: 2rem;

          .form-floating {
            position: relative;

            .icon-action {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              height: 100%;
              padding: 1rem;

              svg {
                cursor: pointer;
                color: $secondary-500;
                width: 1.5rem;
                height: 1.5rem;
              }

              svg:hover {
                color: $secondary-700;
              }
            }

            .form-control {
              height: calc(3rem + 2px);
            }

            .form-control:focus {
              padding: 0.75rem;
              padding-top: 1.15rem;
              border-color: #d82047;
              box-shadow: none;
            }

            .form-control:not(:placeholder-shown):not(:focus) {
              padding-top: 1.8rem;
            }

            .form-control:focus ~ label {
              opacity: 1;
              transform: scale(0.75) translateY(-0.5rem) translateX(0.78rem);
              background: white;
              padding: 0 0.25rem;
              height: fit-content;
            }

            .form-control:not(:placeholder-shown):not(:focus) ~ label {
              transform: scale(0.75) translateY(-0.5rem) translateX(0.275rem);
            }

            label {
              color: $secondary-500;
              line-height: 1rem;
            }
          }

          .text-forgot {
            width: 100%;
            text-align: right;
            font-size: 14px;
            font-weight: normal;
          }

          .btn-login {
            width: 100%;
            font-size: 1rem;
            border: 0;
          }

          .text-register {
            width: 100%;
            text-align: center;

            a {
              color: $primary-500;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
