@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/proxima/proxima\ nova\ reguler.otf") format("opentype"), url("../../assets/fonts/proxima/proxima\ nova\ medium.otf") format("opentype"),
    url("../../assets/fonts/proxima/proxima\ nova\ light.ttf") format("truetype"), url("../../assets/fonts/proxima/proxima\ nova\ bold.ttf") format("truetype");
}

//font family
$sans-serif: "Proxima Nova", sans-serif;

//font weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
