@import "../../styles/utilities/variables";

.styled-check-container {
  width: 3rem;
  height: 3rem;
  background: #ddd;
  border-radius: 100%;
  position: relative;

  label.styled-check-box {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background: $secondary-300;
    color: $netral-500;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  input[type="checkbox"].styled-check {
    display: none;
  }

  input[type="checkbox"].styled-check:checked + label.styled-check-box {
    background: $primary-500;
    color: $white;
  }
}
