//primary
$primary-100: #fdddd7;
$primary-300: #f7888b;
$primary-500: #d82047;
$primary-700: #a51d55;
$primary-900: #6e0b47;

//secondary
$secondary-100: #f5f8fa;
$secondary-300: #d5dbe1;
$secondary-500: #8f959d;
$secondary-700: #485671;
$secondary-900: #1b274b;

//netral
$netral-100: #e3f0f4;
$netral-300: #98b3c0;
$netral-500: #1e272e;
$netral-700: #0f1721;
$netral-900: #050b16;

//info
$info-100: #cafcf2;
$info-300: #60f1eb;
$info-500: #00b8d1;
$info-700: #006c96;
$info-900: #003864;

//warning
$warning-100: #fefbcb;
$warning-300: #f9ed65;
$warning-500: #edd502;
$warning-700: #aa9501;
$warning-900: #716100;

//danger
$danger-100: #fde1d6;
$danger-300: #f68f85;
$danger-500: #e23647;
$danger-700: #a21b41;
$danger-900: #6c0a37;

//succes
$success-100: #e5fbd6;
$success-300: #9ce981;
$success-500: #3db72f;
$success-700: #17831e;
$success-900: #09571a;

//grey
$border-grey: #dadce0;

//white
$white: white;

//header
$header-color: #EAEDF0;

$primary: $primary-500;
$secondary: $secondary-500;
$info: $info-500;
$success: $success-500;
$warning: $warning-500;
$danger: $danger-500;