@import '../../../../styles/utilities/variables';

.sidebar{
    width:17.25rem;
    position: fixed;

    .accordion-item{
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: .25rem!important;
        border: 0px;
        box-shadow: 0 1px 4px rgba(0,0,0,.12);

        .accordion-button {
            color: $secondary-500;
            background-color: $white;
        }
    
        .accordion-button:not(.collapsed) {
            color: $netral-500;
            background-color: $white;
        }

        .accordion-button:focus{
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
        }
    
        .accordion-button:after {
            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%238f959d%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
        }
    
        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
        }

        .accordion-body{
            padding: 0;

            .nav .nav-link{
                padding: 1rem 1.25rem;
                color: $secondary-500;
            }

            .nav .nav-link.active{
                background-color: $primary-500;
                color: $white;
            }
        }
    }

    .accordion-item:last-child{
        margin-bottom: 0;
    }
}

